/*.mxproject
*.d
*.o
*.crf
*.md
*.txt
*.hex
*.htm
*.map
/MDK-ARM/DebugConfig/stm32_zg_test_STM32F407ZGTx.dbgconf
/MDK-ARM/stm32_zg_test
/MDK-ARM/*.scvd
/MDK-ARM/*.lst
/MDK-ARM/stm32_zg_test.uvguix.rs0845
/MDK-ARM/stm32_zg_test.uvoptx
/MDK-ARM/*.log
