/app/*.mxproject
*.d
*.o
*.crf
*.md
*.txt
*.hex
*.htm
*.map
/app/MDK-ARM/DebugConfig/stm32_zg_test_STM32F407ZGTx.dbgconf
/app/MDK-ARM/stm32_zg_test
/app/MDK-ARM/*.scvd
/app/MDK-ARM/*.lst
/app/MDK-ARM/*.uvguix*
/app/MDK-ARM/stm32_zg_test.uvoptx
