/app/*.mxproject
/bootloader/*.mxproject
*.d
*.o
*.crf
*.md
*.txt
*.hex
*.htm
*.map
/app/MDK-ARM/DebugConfig/stm32_zg_test_STM32F407ZGTx.dbgconf
/app/MDK-ARM/stm32_zg_test
/app/MDK-ARM/*.scvd
/app/MDK-ARM/*.lst
/app/MDK-ARM/*.uvguix*
/app/MDK-ARM/stm32_zg_test.uvoptx
/bootloader/MDK-ARM/DebugConfig/g60_fireboard_bl_STM32F407ZGTx.dbgconf
/bootloader/MDK-ARM/g60_fireboard_bl
/bootloader/MDK-ARM/*.scvd
/bootloader/MDK-ARM/*.lst
/bootloader/MDK-ARM/*.uvguix*
/bootloader/MDK-ARM/g60_fireboard_bl.uvoptx